<h2>Отзывы</h2>

<div class="FeedbackSection">
    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot1.PNG" alt="Avatar">
        <p><span>Chris Fox.</span> @DateTime.Now.ToString("h:mm:ss tt")</p>
        <p>HTML CSS saved us from a web disaster.</p>
    </div>

    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot2.PNG" alt="Avatar">
        <p><span>Rebecca Flex.</span> @DateTime.Now.ToString("h:mm:ss tt") </p>
        <p>No one is better than HTML CSS.</p>
    </div>

    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot2.PNG" alt="Avatar">
        <p><span>Rebecca Flex.</span> @DateTime.Now.ToString("h:mm:ss tt") </p>
        <p>No one is better than HTML CSS.</p>
    </div>

    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot2.PNG" alt="Avatar">
        <p><span>Rebecca Flex.</span> @DateTime.Now.ToString("h:mm:ss tt") </p>
        <p>No one is better than HTML CSS.</p>
    </div>

    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot2.PNG" alt="Avatar">
        <p><span>Rebecca Flex.</span> @DateTime.Now.ToString("h:mm:ss tt") </p>
        <p>No one is better than HTML CSS.</p>
    </div>
    <div class="FeedbackContainer">
        <img src="~/Content/Images/Parrot2.PNG" alt="Avatar">
        <p><span>Rebecca Flex.</span> @DateTime.Now.ToString("h:mm:ss tt") </p>
        <p>No one is better than HTML CSS.</p>
    </div>
</div>



<form class="FeedbackForm">
    <input name="name" placeholder="Укажите ваше имя!" class="FeedbackTextbox" required />
    <textarea rows="4" cols="50" name="subject" placeholder="Введите ваше сообщение:" class="FeedbackMessage" required></textarea>
    <input name="submit" class="FeedbackButton" type="submit" value="Отправить" />
</form>